.wrapper {
  height: 172px;
  width: 328px;
  display: flex;
  flex-direction: column;
  background-color: #16186107;
  border-radius: 10px;
  box-shadow: 0px 2px 4px #00000040;
}
.addtodo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #14849c;
  border-radius: 10px;
  box-shadow: 0px 2px 4px #00000040;
  height: 56px;
  width: 100%;
  z-index: 10000;
}
.addtodo span {
  color: white;
  font-size: 24px;
  line-height: 56px;
  font-weight: 750;
  margin-left: 20px;
}
.addtodo button {
  background-image: linear-gradient(270deg, #004554 -20.4%, #007994ab 118.6%);
  border-radius: 10px;
  height: 56px;
  margin-right: 0px;
  border: 0px;
  width: 86px;
}
.addtodo button div {
  float: right;
  margin-right: 5px;
}
.alltodo {
  background-color: #b2d6de;
  border-radius: 0 0 10px 10px;
  margin-top: -8px;
  box-shadow: 0px 2px 4px #00000040;
  height: 40px;
  width: 100%;
}
.alltodo span {
  color: #166172;
  line-height: 40px;
  margin-left: 20px;
}
.word {
  height: 76px;
  font-size: 40px;
  color: #b8c8d550;
  font-weight: 750;
  margin: auto;
}
