
@font-face{
    font-family: 'res';
    src: url('HarmonyOS_Sans_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'dyh';
    src: url('SmileySans-Oblique.ttf');
    font-weight: normal;
    font-style: normal;
}